body{
    background-color:lightgrey;
}

#bg-img{
    background-image: url('../images/background3.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    min-height:500px;

}

#aboutMe{
    margin-top: -200px;
}

#technologies span{
    padding: 10px 20px 10px 20px;
}

#technologies hr{
    border-width: 2px;
    margin-top: 6px;
}

#projects span{
    padding: 10px 20px 10px 20px;

}

#projects hr{
    border-width: 2px;
    margin-top: 6px;
}

#contactMe span{
    padding: 10px 20px 10px 20px;
}

#contactMe hr{
border-width: 2px;
margin-top: 6px;
}



.bio{
    font-weight: bold;
}

#navBarProject{
    color:#FFF;
}

.projectImg{
    border: 3px solid white;
    padding: 0;
}


/*styling for my picture */
#me{
    height:500px;
    width: 400px;
}

/*styling for project images */
#projectPicture{
    height:300px;
    width:500px;
}
/*styling for contact area */
#contact{
    font-weight: bold;
    font-size: 20px;
}

.contactInfo{
    font-size:20px;

}

/*styling for my link under images to github */
#code{
    width: 100%;
}
/*styling for my project header*/

#myProjects{
    color:white;
    font-size: 50px;
    background-color: teal;
}

#list{
    color:black;
    font-size:20px;
}

.nameHeader{
width:100%;
font-size:70px;
font-weight: bold;
color: skyblue;
text-shadow: 2px 2px 4px #000000;
}

/*Hover Effect*/
#Header a:hover{
    color: white;
}
